body {
	padding: 50px;
	font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

table, td {
	border: 1px solid gray;
	border-collapse: collapse;
}

td {
	height: 30px;
	padding: 5px;
}

th {
	width: 200px;
	height: 30px;
	padding: 5px;
	background-color: #00B7FF;
	color: white;
}